<b class="cmttitle">@Model.ProductName</b>
<div class="group-cm">
    <textarea name="txtContent" rows="1" maxlength="1000" required="required" placeholder="Mời bạn bình luận hoặc đặt câu hỏi" class="extend"></textarea>
</div>